{% extends "base.html" %}

{% block title %}
	<title>{{ post.title }} | SIRLA 許願瓶</title>
{% endblock %}

{% block content %}
	<div class="post">
		<h2><a href="#">{{ post.title }}</a></h2>
		<p>{{ post.created_date }}</p>
		<p>{{ post.text }}</p>
	</div>
	{% if user.is_authenticatrd %}
	<a class="btn btn-default" href="{% url 'post_edit' pk=post.pk%}">Edit Article</a>
	<a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}">Delete Article</a>
		<div  style="width: 100%;">
			{% if post.photo.url is not null %}
			<img style="height: 70%; width: 70%;" src="{{ post.photo.url }}">
			{% else %}
			<img style="height: 70%; width: 70%;" src="/media/img/no_image.jpg">
			{% endif %}
	</div>
		<span><a href="#" class="badge badge-secondary">{{ post.tag.name }}</a></span>
		<h2><a href="#">{{ post.title }}</a></h2>
		<p>{{ post.created_date }}</p>
		<p>{{ post.text }}</p>

	{% if request.user.is_authenticated %}
	{% if request.user.id != post.author.id %}
	<form action="{% url 'like_post' %}" method="POST" class="post-form">
		<input type="hidden" name="post_id" value="{{ post.id }}">
		{% if user not in post.liked.all %}
		<button type="submit" class="btn btn-default btn-sm btn-outline-secondary">
			{% csrf_token %}
			Like
		</button>
		{% else %}
		<button type="submit" class="btn btn-default btn-sm btn-outline-secondary">
			{% csrf_token %}
            Unlike
        </button>
    {% endif %}
	</form>
	<button type="submit" class="btn btn-default btn-sm btn-outline-secondary">Comment</button>
	{% else %}
	<form action="{% url 'like_post' %}" method="POST" class="post-form">
		<input type="hidden" name="post_id" value="{{ post.id }}">
		{% if user not in post.liked.all %}
		<button type="submit" class="btn btn-default btn-sm btn-outline-secondary">
			{% csrf_token %}
            Like
        </button>
        {% else %}
        <button type="submit" class="btn btn-default btn-sm btn-outline-secondary">
        	{% csrf_token %}
        	Unlike
    	</button>
    	{% endif %}
	</form>
	<button type="button" class="btn btn-default btn-sm btn-outline-secondary">Comment</button>
	<button type="button" class="btn btn-default btn-sm btn-outline-secondary">
		<a href="{% url 'post_edit' pk=post.pk%}" style="text-decoration:none; color: inherit;">Edit</a>
	</button>
	<button type="button" class="btn btn-default btn-sm btn-outline-secondary">
		<a href="{% url 'post_delete' pk=post.pk %}" style="text-decoration:none; color: inherit;">Delete</a>
	</button>
	{% endif %}
	{% endif %}
{% endblock %}